<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>PHP-FRAME管理后台</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="/app/Views/Admin/assets/image/png" href="/app/Views/Admin/assets/i/favicon.png">
  <link rel="stylesheet" href="/app/Views/Admin/assets/css/amazeui.min.css"/>
   <!--[if (gte IE 9)|!(IE)]><!-->
  <script src="/app/Views/Admin/assets/js/jquery-1.7.2.min.js"></script>
  <!--<![endif]-->
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
    small{
      color: #f00;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>PHP-FRAME管理后台</h1>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

    <form  class="am-form">
      <label for="text">用户名:</label>
      <input type="text" name="username" id="username" value="">
      <small id="username-error"></small>
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password" id="password" value="">
      <small id="password-error"></small>
      <br>
     
      <br />
      <div class="am-cf">
        <input type="button"  id="login" value="登 录"  onclick="doLogin()" class="am-btn am-btn-primary am-btn-sm am-fl">
      </div>
    </form>
    <hr>
    <p>© 2018 Power By PHP-FRAME</p>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $(document).keyup(function(evt){
      if(evt.keyCode == 13) {
        doLogin();
      }
    });
    $("input").blur(function(){
      if($(this).val()) {
        $(this).next("small").html("");
      }
    });
    

  });

  function doLogin()
  {
    var username = $("#username").val();
    var password = $("#password").val();
    if(username == "") {
      $("#username-error").html("请输入用户名");
      $("#username").focus();
    } else if(password == "") {
      $("#password-error").html("请输入密码");
      $("#password").focus();
    } else {
      $("#login").attr("disabled","disabled");
      $.post("/admin/doLogin",{username:username,password:password},function(res){
          if(res == "0") {
            $("#password-error").html("用户名或密码错误");
            $("#password").focus();
          } else if(res == "1") {
            window.location.href="/admin/index";
          } else if(res == "2") {
            $("#password-error").html("用户名或密码不能为空");
            $("#password").focus();
          } else {
            $("#password-error").html("未知错误");
          }
          $("#login").removeAttr("disabled");
      });
    }
  }
</script>
</body>
</html>
